{% extends "index.html" %}
{% block title %}HermitTube - About{% endblock %}
{% block content %}
    <h2>HermitTube - Follow your favorite Hermits through all the seasons!</h2>
    <p>
        Watch several Hermits in one sitting, all in chronological order! See
        a build being built in the background in one video and it's completion
        from a different perspective in the next! See two Hermits and a
        chicken have a hilarious interaction with a third Hermit who's new to
        you? Easily check them out, follow, and subscribe!
    </p>
    <p>
        This is an unofficial, fan-created and maintained site for
        <a href='https://hermitcraft.com'>HermitCraft</a>. All content is
        owned by their respective publishers and/or Hermits. This site makes
        no claim on any content, revenue, or statements found in the linked
        media and is intended for personal entertainment purposes only.
    </p>
    <p>
        It started from the frustration of not being able to easily watch HermitCraft
        videos in order across several channels. Without this site I would have to seek
        out if a Hermit has new content, figure out the viewing order across several
        channels, navigate to the intended video on my TV, then repeat this process for
        each video. Now the site solves all of that for me, I don't have to decide which
        Hermit I feel like watching because the next is always queued up! And if I want
        to just watch two hours of Hermits in order on my TV, I can do that!
    </p>
    <p>
        Feel free to reach out to me on
        <a href='https://github.com/stevarino/hermit-tube'>github</a>,
        <a href='https://www.reddit.com/user/stevarino'>reddit</a>, or <a
            href='mailto:stevarino@hermit.tube'>email</a>.
    </p>
    <h2>Background and Technical Bits</h2>
    <p>
        This site was primarily coded as a self-challenge over a holiday
        weekend. After playing with it for a few weeks, I decided I really liked
        watching HermitCraft here so this turned into my official COVID-19
        hobby. I have a great day-job and several other
        responsibilities beyond watching YouTube, so when I have a few hours
        and/or a fun idea I'll try to add it to the site.
    </p>
    <p>
        The site is in some ways a personal challenge at making a simple website
        without a framework and with as few requirements as possible. The only
        significant external code used is a database ORM and two Javascript
        libraries.
    </p>
    <p>
        The site runs in a batch mode, regularly refreshing itself every few
        minutes. This makes traffic extremely cheap to host and therefore the
        site should scale very well. The backend (as much as one exists) runs on
        Python while the frontend is very minimal
        Javascript. I might sprinkle some PHP later for some special
        authenticated endpoints, or I may just move those endpoints to a
        separate domain and keep everything Python. TBD...
    </p>
    <p>
        The site is somewhat intended to be used by any creators for
        cross-channel content creation, but its not quite there yet. There is
        almost nothing Hermit-specific in the code so it could be quickly
        adapted for another use-case. <a href='mailto:stevarino@hermit.tube'>Let
        me know</a> if this interests you and I would be thrilled to help
        get you set up!
    </p>
    <h2>FAQ</h2>
    <p><strong>Hermits are missing - where is my favorite Hermit?</strong></p>
    <p>
        I grabbed all the playlists I could find for all seasons, but its
        possible I missed some. Ethos' videos were particularly challenging and
        I know I'm missing a lot of their videos. Biffa seems to have deleted
        their Season 5 and 6 playlists. I drew the
        line at manually curating playlists but I have incorporated fan-curated
        playlists (and the Hermits seem okay with this) so if you want to roll
        up your sleeves, <a
            href=' https://github.com/stevarino/hermit-tube/issues'>let me
            know</a>!
        All Hermits are precious. </p>
    <p>
        Another option is to personally reach out and encourage the Hermits to
        use YouTube playlists as that REALLY helps with finding and indexing
        these videos.
    </p>
    <p><strong>You only list YouTube Playlists - why?</strong></p>
    <p>
        Because that seems to be where they are all at. But I fully intend to
        support other mediums when and if it makes sense. Let me know on
        <a href='https://github.com/stevarino/hermit-tube/issues'>github</a> if
        you have any suggestions.
    </p>
    <p>
        Even within the YouTube garden, <a
            href='https://developers.google.com/youtube/v3/determine_quota_cost'>it
            can be very expensive</a> (in fake YouTube-quota dollars) to find
        videos not linked through a playlist. The site could be modified in
        order
        to support non-playlist indexing (perhaps searching by user and
        keywords?) but I'm unsure how reliable that would be. Further, all
        Hermits have playlists for the current season so I would like to avoid
        this as the error rate would likely be quite
        high.
    </p>
    <p><strong>Some videos are out of order, can this be fixed? Also there are
            videos in here which are not relevant to HermitCraft!</strong></p>
    <p>
        Video ordering can quickly get very complicated when you are aggregating
        across so many channels. In an attempt to not go insane, I simply look
        at the video published timestamp when ordering videos.
    </p>
    <p>
        Some hermits publish non-HermitCraft videos on their HermitCraft
        playlists for their own reasons. It's their playlists and they are free
        to do so, but I don't feel that is constructive to the goals of this
        site and therefore I try to filter them out as
        I see them. Please <a
            href='https://github.com/stevarino/hermit-tube/issues'>let me
            know</a> if you see any, though. Thanks!
    </p>

    {% endblock %}