<% include top.phtml %>
<h2>HermitBook - Follow your favorite hermits through all the seasons!</h2>
<p>
    Follow hermits! Catch up on seasons! See an awesome interaction with a new
    hermit? Easily add them without losing your place!
</p>
<p>
    This started from the frustration of not being able to easily watch 
    hermit videos in order across several channels. For instance, suppose I am
    a fan of Grian and Scar, and I'm bouncing between their channels trying to
    watch them in order. Then I watch a particularly funny video where they
    convince BDubs to give up his own head. Without this site I would have to
    find BDubs channel, find the HC playlist, and scroll through until I found
    the right video (hopefully its obvious from the thumbnail).
</p>
<p>
    Now I can just select BDubs in the side column and it loads automatically.
    The site will even remember my position in the playlists so adding several
    dozen videos won't cause me to lose my place.
</p>
<p>
    Honestly I'm unsure what else to write here as I just coded this over a
    holiday weekend. Ask me questions over on 
    <a href='https://github.com/stevarino/hermit-book'>github</a> or
    <a href='https://www.reddit.com/user/stevarino'>reddit</a>.
</p>
<h2>FAQ</h2>
<p><strong>My favorite hermit is missing from an old season!</strong></p>
<p>
    I grabbed all the playlists I could find, but its possible I missed some.
    Ethos was particularly challenging and I know I'm missing a lot of their
    videos. But I have all the recent playlists so I'm not sure how much of
    an issue this is...
</p>
<p>
    But if you find this important open an issue over on
    <a href='https://github.com/stevarino/hermit-book/issues'>github</a> (or
    better yet, send a pull request) and I'll give it a look. All hermits are
    precious.
</p>
<p>
    Another option is to encourage the hermits to use YouTube playlists as that
    REALLY helps with finding and indexing these videos.
</p>
<p><strong>You only list YouTube Playlists  - why?</strong></p>
<p>
    Because that seems to be where they are all at. But I fully intend to
    support other mediums when and if it makes sense. Let me know on
    <a href='https://github.com/stevarino/hermit-book/issues'>github</a> if
    you have any suggestions.
</p>
<p><strong>Your site is ugly.</strong></p>
<p>
    Not a question, but alright. I'm a redstoner, not a builder. Anyone know
    if Scar is any good at CSS?
</p>
<p><strong>Some videos are out of order, can this be fixed?</strong></p>
<p>I'm trying my best!</p>
<p>
    But yeah, it's on my list of things to do. The problem is proving really
    complicated but I'm just waiting for that eureka moment when things
    suddenly click.
</p>

<% include bottom.phtml %>