{% extends "index.html" %}
{% block title %}HermitTube - Privacy Policy{% endblock %}
{% block content %}
    <h2>Privacy Policy</h2>
    <p>
        Privacy is something I personally find critical. This site collects no
        personal data beyond what you explicitly provide. More information on
        this will be coming.
    </p>
    <p>
        This site uses YouTube APIs so by using this site you must agree to
        <a href='https://www.youtube.com/t/terms'>YouTube's Terms of Service</a>.
    </p>
    <p>
        This site does not perform any tracking or identifiable logging of users
        beyond basic web log files for performance, planning, and security
        purposes.
    </p>
{% endblock %}