<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{{title}}{% endblock %}</title>
        <link rel="icon" href="/static/favicon_disc16.png" sizes="16x16" />
        <link rel="icon" href="/static/favicon_disc32.png" sizes="32x32" />
        <link rel="icon" href="/static/favicon_disc64.png" sizes="64x64" />
        <link rel="icon" href="/static/favicon_disc128.png" sizes="128x128" />
        <link rel="icon" href="/static/favicon_disc196.png" sizes="196x196" />
        <link rel="shortcut icon" href="/static/favicon_disc196.png" sizes="196x196" />
        <link rel="stylesheet" href="/static/style.css?20210106.2" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/static/manifest.webmanifest">
    </head>
    <body>
        <div id='wrap'>
            <div id='header'>
                <h1>
                    <a href='/'>Hermit<span
                        class='outline'><svg
                        class='triangle' viewBox="0 0 100 100">
                            <polygon points="100,50 25,6.7 25,93.3" />
                    </svg><span>Tube</span></span></a>
                </h1>
                <div class='menu-button'>
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                        <span class="line-3"></span>
                    </div>
                </div>
                <ul id='menu'>
                    {% block menu %}
                    <li><a href='#' onclick='return false' id='channel_dropdown'>Channels</a>
                        <ul id='channels' aria-label='submenu'></ul>
                    </li>
                    <li><a ref='#' onclick='return false'>Seasons</a>
                        <ul id="seasons" aria-label='submenu'></ul>
                    </li>
                    <li><a href='#' onclick='return false'>Settings</a>
                        <ul id="settings" aria-label='submenu'>
                            <li><label for='opt_player' class='menu_checkbox'>
                                <input type='checkbox' id='opt_player' name='opt_player' />
                                Embedded Player Desktop
                            </label></li>
                            <li><label for='opt_player_mobile' class='menu_checkbox'>
                                <input type='checkbox' id='opt_player_mobile' name='opt_player_mobile' />
                                Embedded Player Mobile
                            </label></li>
                            <li><label for='opt_autoplay' class='menu_checkbox'>
                                <input type='checkbox' id='opt_autoplay' name='opt_autoplay' />
                                Autoplay next video
                            </label></li>
                            <li class='hr'></li>
                            <li><a href='#' id='profile_new'>New Profile</a></li>
                            <li><a href='#' id='profile_rename'>Rename Profile</a></li>
                            <li><a href='#' id='profile_delete'>Delete Profile</a></li>
                            <li class='hr' id='profile_sep'></li>
                        </ul>
                    </li>
                    <li><a href='/about/'>About</a></li>
                    {% endblock %}
                    <li><a href='https://github.com/stevarino/hermit-tube'>Github</a></li>
                </ul>
            </div>
            <div id='content'>
                {% block content %}
                <p id='loading'>Loading...</p>
                <div id="player_wrap"></div>
                {% endblock content %}
            </div>
        </div>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.2/pako.min.js" integrity="sha512-IjkvjWp4tSkhkQRb9gFwCcMhBWZLPKc7Zo8ifb6qxORyehV072QgRVG3F0fwAaJh0fnEFNLc2+XggoC5wvW24g==" crossorigin="anonymous"></script>
    <script>
        window.series={{ default_series|safe }};
        window.all_series={{ series_list|safe }};
        window.backend_version='{{ version|safe }}';
    </script>
    <script async src='/static/script.js?20210106.2'></script>
    <script async src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    </body>
</html>