:root {
    --size: auto; /* 600px */
    --fsize: calc(0.25vw + 0.25vh + 1vmin);
    font-size: calc(2 * var(--fsize));
}

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    color: #000;
}

a:focus,
input:focus {
    outline: 4px solid rgba(255, 255, 0, 0.7);
    outline-offset: 4px;
}

#wrap {
    margin: 0 1rem;
}

#header {
    position: sticky;
    top: 0;
    height: 100%;
    z-index: 10;
    margin: 0 auto;
    width: var(--size);
    background: rgba(255, 255, 255, 0.9);
}

h1 {
    font-size: 3rem;
    opacity: 1;
    margin: 0 1rem;
    padding: 1rem 0 1rem 0;
}
h1 a {
    text-decoration: none;
}

/* https://css-tricks.com/solved-with-css-dropdown-menus/ */

#menu {
    margin: 0 1rem 0 auto;
    list-style: none;
    padding: 0;
    height: 3.5rem;
    white-space: nowrap;
    overflow-x: scroll;
    text-align: right;
}

#menu a, 
#menu label {
    cursor: pointer;
}

#menu > li {
    list-style: none;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    transition-duration: 0.5s;
    z-index: 20;
    display: inline-block;
}

#menu > li > * {
    color: #000; 
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
}

#menu li ul a {
    text-decoration: none;
}

#menu li:hover,
#menu li:focus-within {
    cursor: pointer;
    border: 1px solid #000;
}
  
#menu li:focus-within a {
    outline: none;
}
  
#menu li ul {
    margin: 0;
    padding: 0;
    list-style: none;
    visibility: hidden;
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    top: 8rem;
    bottom: 0;
    left: -1px;
    right: 0;
    overflow-y: scroll;
    text-align: left;
}

#menu li ul li {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0.95);
    border-left-color: #000;
    border-right-color: #000;
    font-size: 1.5rem;
}

#menu li ul li:first-child {
    border-top-color: #000;
}

#menu li ul li:last-child {
    border-bottom-color: #000;
}

#menu li ul li.hr {
    box-sizing: border-box;
    border: 1px solid rgb(122, 122, 122);
    border-width: 1px 0 0 0;
    background: rgba(255, 255, 255, 0.95);
}

#menu li ul li > * {
    padding: 1rem;
    display: block;
}
  
#menu li.active > ul {
    visibility: visible;
    display: block;
    transition-duration: 0.5s;
}

#menu li #channels li label {
    padding: 0.5rem;
    position: relative;
    padding-left: 2em;
    color: #999;
}

#menu li #channels li.checked label {
    color: #000;
}

#channels input {
    visibility: hidden;
}

#channels img {
    left: 1rem;
    top: calc(50% - 0.75em);
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    filter: grayscale(80%);
    opacity: 0.2;
}

#channels .checked img,
#channels li:hover img {
    filter: unset;
    opacity: 1;
}

#content {
    width: var(--size);
    margin: 0 auto 0 auto;
    position: relative;
}

#videos {
    padding-bottom: 20rem;
}

#videos .video {
    margin: 0 0 2em 0;
    position: relative;
}

#videos .activevid {
    box-shadow: 0 0 8px 2px black;
}

#videos .video.expanded {
    overflow: visible;
    min-height: 184px;
    height: auto;
}

#videos h2 {
    margin: 0 0 1em 0;
    text-align: center;
    background: #000;
    color: #fff;
}

#videos .thumb {
    border: 2px solid #000;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: calc(80vw * 9 / 16);
}

#videos h3 {
    position: relative;
    min-height: 50px;
    margin: 0;
    padding: 0 0 0 50px;
}

#videos h3 a {
    text-decoration: none;
}

#videos h3 img {
    position: absolute;
    top: 0;
    left: 0;
}

#videos h3 .channel_link {
    color: #999;
}

#videos h3 .date {
    color: #ccc;
    margin-left: 1em;
}

#videos p {
    display: none;
}

#videos .video.expanded p {
    display: block;
}

#videos .showmoreless {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    opacity: 0.95;
    cursor: pointer;
}

#player_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100;
}

#player {
    margin: 2em auto 0 auto;
    display: block;
}

@media only screen and (min-width: 62rem) { /* 992px */
    :root {
        font-size: 16px;
        --size: 56rem; /* 896px */
    }
    #menu {
        overflow: visible;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #menu li a#channel_dropdown {
        display: none;
    }
    #menu li ul {
        min-width: 15rem;
        position: absolute;
        top: 3rem;
        left: -1px;
        height: auto;
        overflow: visible;
    }
    #menu li ul li {
        font-size: 1rem;
    }
    #menu li ul#channels {
        position: fixed;
        top: 5rem;
        bottom: 0;
        left: 50%;
        margin-left: calc(var(--size) /  -2);
        width: 12.5rem; /* 200px */
        overflow-y: scroll;
        visibility: visible;
        height: auto;
        display: block;
        opacity: 1;
        background: transparent;
        border: 0;
        z-index: 50;
    }
    #menu #channels li {
        border: 0;
    }
    #videos {
        margin: 0 0 0 15rem; /* 240px; */
    }
    #videos .video {
        padding-left: 340px;
        height: 184px;
        overflow: hidden;
    }
    #videos .thumb {
        position: absolute;
        left: 0;
        top: 0;
        width: 320px;
        height: 180px;
    }
    #videos p {
        display: block;
    }
}

@media only screen and (min-width: 80rem) { /* 1280px */
    :root {
        --size: 75rem; /* 1200px */
    }
}