<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{{title}}{% endblock %}</title>
        <link rel="icon" href="/static/favicon_disc16.png" sizes="16x16" />
        <link rel="icon" href="/static/favicon_disc32.png" sizes="32x32" />
        <link rel="icon" href="/static/favicon_disc64.png" sizes="64x64" />
        <link rel="icon" href="/static/favicon_disc128.png" sizes="128x128" />
        <link rel="icon" href="/static/favicon_disc196.png" sizes="196x196" />
        <link rel="shortcut icon" href="/static/favicon_disc196.png" sizes="196x196" />
        <link rel="stylesheet" href="/static/style.css?20210804" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="/static/manifest.webmanifest">
    </head>
    <body>
        <div id='wrap'>
            <div id='header'>
                {% if page.header %}{{ page.header }}{% else %}<h1><a href='/'>{{ page.title }}</a></h1>{% endif %}
                <div class='menu-button'>
                    <div class="menu-icon">
                        <span class="line-1"></span>
                        <span class="line-2"></span>
                        <span class="line-3"></span>
                    </div>
                </div>
                <ul id='menu'>
                    {% block menu %}
                    <li class='submenus'>
                        <a href='#' onclick='return false' id='channel_dropdown'>Channels</a>
                        <ul id='channels' aria-label='submenu'></ul>
                    </li>
                    <li class='submenus'>
                        <a href='#' onclick='return false'>Seasons</a>
                        <ul id="seasons" aria-label='submenu'></ul>
                    </li>
                    <li class='submenus'>
                        <a href='#' onclick='return false'>Profile</a>
                        <ul id="settings" aria-label='submenu'>
                            <li><a href='#' id='settings_link'>Open Settings</a></li>
                            <li><a href='#' id='profile_new'>New Profile</a></li>
                            <li class='hr' id='profile_sep'></li>
                        </ul>
                    </li>
                    {% for link in page.menu_links %}
                    <li class='submenus'>
                        {% if 'href' in link %}
                            <a href='{{ link.href }}'>{{ link['text'] }}</a>
                        {% else %}
                            <a href='#' onclick='return false'>{{ link.text }}</a>
                            <ul id="seasons" aria-label='submenu'>
                                {% for sublink in link.links %}
                                    <li><a href='{{ sublink.href }}'>{{ sublink.text }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                    <li><a href='#' id='login'>Log In</a></li>
                    {% endblock %}
                </ul>
            </div>
            <div id='content'>
                {% block content %}
                <p id='loading'>Loading...</p>
                {% endblock content %}
            </div>
        </div>
        <div id="modal">
            <div id='player_wrap'>
                <div id='player_iframe'></div>
                <div id='player_pause'></div>
            </div>
            <div id='player_controls'>
                <span class='material-icons prev'>skip_previous</span>
                <span class='material-icons stop'>stop</span>
                <span class='material-icons paws'>pause</span>
                <span class='material-icons play'>play_arrow</span>
                <span class='material-icons full'>fullscreen</span>
                <span class='material-icons next'>skip_next</span>
            </div>
            <div id='form'></div>
        </div>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.2/pako.min.js" integrity="sha512-IjkvjWp4tSkhkQRb9gFwCcMhBWZLPKc7Zo8ifb6qxORyehV072QgRVG3F0fwAaJh0fnEFNLc2+XggoC5wvW24g==" crossorigin="anonymous"></script>
    <script>
        {% for key, value in window_vars.items() %}
        window.{{ key|safe }}={{ value|safe }}
        {% endfor %}
    </script>
    <script async src='/script.js?20210804'></script>
    <script async src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    </body>
</html>